*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
h1{
    color: maroon;
}
div{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: aquamarine;
}
button{
    background-color: rgb(43, 51, 121);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}