#set{
    height: 150px;
    width: 300px;
    background-color: gray;
    border: 50px dotted black;
    /* margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em; */
    padding: 1em;
    margin: 20px 1em 40px 2em;
}

.first{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}

.list{
    display: inline-block;
    
}