<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page.</h1>
    <h2>Total users : <%= count %></h2>
    <a href="user"><button>Join Us!</button></a>
    <a href="/users" target="_blank"><button>All users</button></a>
    
</body>
</html>