body{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
}
.box{
    height: 150px;
    width: 150px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 1.5em;
}
.green{
    background-color:cadetblue ;
}
.orange{
 background-color: coral;
}
.pink{
    background-color: deeppink;
}
.yellow{
    background-color: darkkhaki;
}
.white{
    background-color: white;
}
.usergreen{
    background-color: green;
}