/* alpha */
#alpha{
    height: 200px;
    width: 200px;
    /* background-color: rgba(255, 0, 0, 0.725); */
    background-color: #f0bffcff; /*last two is alpha value*/
}
button{
    background-color: blue;
    color: white;
}
/* opacity */
#opacity{
    height: 200px;
    width: 200px;
    background-color: brown;
    margin: 5px;
    opacity: 0.5;
}

/* transition */
#transition{
    height: 200px;
    width: 200px;
    margin: 0px;
    transition: margin 3s ease-in-out 1s;
}
#transition:hover{
    margin-left: 300px;
}
#in{
    height: 200px;
    width: 200px; 
    border-radius: 5%;  
    transition: border-radius 1s ease-in-out 0s;
    background-color: blue;
}
#in:hover{
    border-radius: 50%;
}

/* transform */
section{
    margin-top: 100px;
}
.transform{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;

}
.transform:nth-of-type(2n){
    background-color: #f7db6a;
}
.transform:nth-of-type(3n){
    background-color: #ebb02d;
}
/* transform rotate */
#one{
    transform: rotate(45deg);
}
/* transform scale */
#two{
    transform: scale(0.5);
    transform: scale(0.5,2);/* scale(x,y) */
    /* transform: scaleX();
    transform: scaleY(); */
}
/* transform translate */
#three{
    transform: translate(100px,100px);
    transform: translateX(200px);
}
/* transform skew */
#four{
    transform: skew(90deg);/* it will disappear*/
    transform: skew(30deg);
}
/* multiple tansform property */
#five{
    transform: scale(0.4) translate(50px,50px) skew(30deg);
}

/* box shadow */
#shadow{
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7e4949;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
}

/* background image */
#bgimage{
    height: 200px;
    width: 400px;
    background-color: #7aa874;
    margin: 0 auto;
    background-image: url("wp4937483.jpg");
    /* background-size: contain;
    background-size: auto; */
    background-size: cover;
    color: white;
}

/* card effect */
.card{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 4px 8px black;
    transition: 300ms;
}
.desc{
    padding: 0 0 0 4px;
}
img{
    width: 100%;
    height: 50%;
    border-radius: 5px 5px 0 0;
}
.card:hover{
    box-shadow: 4px 8px 12px black;
}

/* Postiton */
.static{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}
#static{
    background-color: #7aa874;
    position: static;
    left: 100px;
    top: 100px;
}
.Relative{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 208, 255);
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}
#Relative{
    background-color: #7e4949;
    position: relative;
    top: 50px;
    left: 100px;
}
.Absolute{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}

#Absolute{
    background-color: #0eba89;
    position: absolute;
    top: 100px;
    left: 100px;
}
.Fixed{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 157, 0);
    margin: 10px;
    display: inline-block;
    border: 2px solid black;
}